.container {
    padding: 0 2rem;
    background-color: rgba(0,0,0,0.6);
  }

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .articleTitle {
    text-shadow: 1px 1px black; 
    color: white;
    text-align: center;
    font-weight: 600;
  }
  
  .bgWrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }